openapi: 3.1.0
info:
  version: 0.1.0
  title: AsyncAPI Server API
  description: Server API providing official AsyncAPI tools
  contact:
    name: AsyncAPI Initiative
    email: info@asyncapi.io
    url: https://asyncapi.com/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.asyncapi.io

paths:
  /v1/generate/template:
    post:
      summary: Generate the given AsyncAPI template.
      operationId: generateTemplate
      tags:
        - generator
        - template
      externalDocs:
        name: Website for the AsyncAPI Generator
        url: https://www.asyncapi.com/tools/generator
      requestBody:
        description: Template details to be generated.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Template'
      responses:
        '200':
          description: Template succesfully generated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '400':
          description: Failed to generate the given template due to invalid AsyncAPI document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Failed to generate the given template due to invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    AsyncAPIDocument:
      description: AsyncAPI document in JSON or YAML
      type: # can be sent as normal JSON or stringified JSON/YAML
        - string 
        - object
      minLength: 1
      minProperties: 1
      additionalProperties: true
    Template:
      type: object
      required:
        - asyncapi
        - template
      properties:
        asyncapi:
          $ref: '#/components/schemas/AsyncAPIDocument'
        template:
          type: string
          description: Template name to be generated.
          enum:
            - 'html'
            - 'markdown'
        parameters:
          type: object
          description: Template parameters to be generated. This field is optional but may be required for some templates.
          minProperties: 1
          additionalProperties: true
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        errors:
          type: array
