# Default values for asyncapi-event-gateway.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: asyncapi/server-api
  pullPolicy: Always
  tag: latest

imagePullSecrets: []

replicaCount: 2

host: api.asyncapi.com
# Server API opened ports.
ports:
  # Port where the Server API will be available.
  http: 80

#periodSeconds for livenees and Readiness Ports
periodSeconds:
  liveness: 10
  readness: 6
#initialDelaySeconds for liveness and Readiness Ports
initialDelaySeconds:
  liveness: 30
  readness: 30
# Env vars. Needed for configuring the app.
env: {}

nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  annotations: {}

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 4
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

ingress:
  enabled: false
  issuerName: "letsencrypt-prod"
  secretName: "server-api-cert"
